img {
  max-width: 30%;
  height: auto;
}
body {
  background-color: #090909;
  color: #D4AF37; 
}

footer {
  background-color: #090909;
  color: #BCBCBC; 
}

p {
  color: #BFBFBF; 
}
.belleza {
  color: #b3b3b3; 
  font-size: 3em;
  text-align: justify;
  font-family: 'Cormorant Garamond', serif;
  margin-top: 10px;
}
.mejor_version {
  color: #D4AF37; 
  font-size: 3em;
  text-align: justify
  font-family: 'Cormorant Garamond', serif;
  margin-top: 10px;
}